<table class="product" >
	<tr>
		<td> <%= count %> </td>
	</tr>
	 <tr>
	  <td ><b>name</b></td>
	  <td ><%= name %></td>
	 </tr>

	 <tr>
	  <td ><b>category</b></td>
	  <td ><%= category%></td>
	 </tr>
	 <tr>
	  <td ><b>price</b></td>
	  <td ><%= price%></td>
	 </tr>
	 <tr>
	  <td ><b>quantity</b></td>
	  <td ><%= quantity%></td>
	 </tr>
</table>
<button type="button" id="reduce">click me</button>
<span></span>

